/*Panel*/
li {
    list-style-type: none;
}
ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    color:inherit;
}

a:hover {
    text-decoration: #bc2336;
    color: inherit;
}

.header {
    background-color: white;
    color: #000;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.col-7 {
    flex: 0 0 58.333333%;
}

.logo {
    padding: 9px;
}

.top-bar {
    position: relative;
    margin-left: 12%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.top-menu{
    display: none;
}

.menu li {
    display: inline-block;
}
.menu li:hover {
    color: #bc2336;
}
.menu li+li {
    padding-left: 20px;
}
.col-3 {
    flex: 0 0 10%;
    max-width: 25%;
    margin-top: 3%;
}
.socials-icons li {
    display: inline-block;
    width: 14px;
    font-size: 14px;

}
.socials-icons li:hover {
    color: #bc2437;

}
.socials-icons li+li {
    margin-left: 20px;
}

.socials-icons-header li {
    text-align: center;
}
/*Center text*/

.fon-on-Picture {
    background: url("../img/burger.png") center center;
    color: white;
    background-size: cover;
    height: 94vh;
    padding-top: 2%;
    flex-direction: column;
    align-items: center;
}

.for-center{
    justify-content: center;
    display: flex;
}
.fon-on-Picture h1 {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    font-weight: 400;
}
.fon-on-Picture h2{
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}
.btn-onPicture {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #bc2336;
    background-color: #bc2437;
    padding: 6px 57px;
    line-height: 50px;
    margin-top: 11px;

}
/*Services*/

.services {
    padding: 5% 0 5%;
}

.content-services {
    text-align: center;
    padding: 22px 5%;
}
.content-services h5 {
    color: #000000;
    font-family: 'Lobster', cursive;
    font-size: 36px;
}
.serves-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    min-height: 300px;
}

.serves-card img {
    position: absolute;
}

.white-circle {
    display: flex;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    width: 170px;
    height: 170px;
    background: #ffffffb3;
    position: relative;
    margin: 20px;
    border-radius: 50%;
    align-items: center;
    color: #000000;
    font-size: 18px;
    text-align: center;
    z-index: 4;
}
.white-circle:hover {
    box-sizing: border-box;
    color: #bc2336;
}
/*Footer*/
.footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 2% 0;
}

.footer h6 {
    font-family: 'Lobster', cursive;
    font-size: 24px;
}

.contact {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-variant: small-caps;
    margin: 1% 0 2%;
}


@media screen and (max-width: 1080px) {
    .menu {
        display: none;
    }

    .col-3 {
        display: none;
    }
}
